<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Marionette Socketchat</title>
    <link rel="stylesheet" href="js/vendor/foundation/css/normalize.css">
    <link rel="stylesheet" href="js/vendor/foundation/css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
      <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
          <nav class="tab-bar">

            <section class="left-small">
              <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>

            <section class="middle tab-bar-section">
              <h1 class="title">Nodechat</h1>
            </section>

          </nav>

          <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><label>Rooms</label></li>
              <li><a href="#">Main Room</a></li>
              <li><a href="#">Room 2</a></li>
              <li><label>Settings</label></li>
              <li><a href="#">Sounds</a></li>
            </ul>
          </aside>

          <section class="main-section">
            <div class="row">
              <div id="msgPanel" class="large-10 columns"></div>

              <div id="users" class="large-2 columns"></div>
            </div>
          </section>

        <a class="exit-off-canvas"></a>

        </div>
      </div>

    <!-- Templates !-->
    <script type="text/template" id="outMessageTmp">
      <%= content %>
    </script>

    <script type="text/template" id="userListTemp">
      <table>
        <thead>
          <tr>
            <th>Users (<span class="js-usernum"></span>)</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </script>

    <script type="text/template" id="userItem">
      <%= username %>
    </script>

    <script type="text/template" id="msgInOptions">
      <input type="text" id="input" />
    </script>

    <script type="text/template" id="msgPanelTmp">
      <div class="row">
        <div id="msgOut">
        </div>
      </div>
      
      <div class="row">
        <div id="msgIn">
        </div>
      </div>
    </script>
    
    <!-- Scripts !-->
    <script src="socket.io/socket.io.js"></script>
    <!-- bower:js -->
    <script src="js/vendor/modernizr/modernizr.js"></script>
    <script src="js/vendor/jquery/dist/jquery.js"></script>
    <script src="js/vendor/underscore/underscore.js"></script>
    <script src="js/vendor/backbone/backbone.js"></script>
    <script src="js/vendor/backbone.babysitter/lib/backbone.babysitter.js"></script>
    <script src="js/vendor/backbone.wreqr/lib/backbone.wreqr.js"></script>
    <script src="js/vendor/marionette/lib/backbone.marionette.js"></script>
    <script src="js/vendor/fastclick/lib/fastclick.js"></script>
    <script src="js/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="js/vendor/foundation/js/foundation.min.js"></script>


    <!-- endbower --> 
    <script src="js/app.js"></script>
    <script src="js/common/sockets.js"></script>
    <script src="js/entities/message.js"></script>
    <script src="js/entities/user.js"></script>
    <script src="js/apps/messaging/panel/panel.view.js"></script>
    <script src="js/apps/messaging/panel/panel.controller.js"></script>
    <script src="js/apps/messaging/userlist/userlist.view.js"></script>
    <script src="js/apps/messaging/userlist/userlist.controller.js"></script>
    <script src="js/apps/messaging/messaging.app.js"></script>

    <script>
      $(document).foundation().ready(ChatApp.start());
    </script>
  </body>
</html>
