<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Marionette Socketchat</title>
    <link rel="stylesheet" href="js/vendor/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <section>
      <header id="header">
      </header>
      <section>
      <div class="container">
        <div class="row">
          <div id="msgOut" class="col-md-6" style="height:275px; overflow-y:auto;">
          </div>
          <div id="users" class="col-md-6">
          </div>
        </div>

        <div class="row">
          <div id="msgIn" class="col-md-6">
            <input class="form-control" type="text" id="input" />
          </div>
        </div>
      </div>
      </section>
      <footer id="footer"></footer>
    </section>
    <!-- Templates !-->
    <script type="text/template" id="outMessageTmp">
      <%= content %>
    </script>

    <script type="text/template" id="userItem">
      <%= username %>
    </script>
    
    <!-- Scripts !-->
    <script src="socket.io/socket.io.js"></script>
    <!-- bower:js -->
    <script src="js/vendor/jquery/dist/jquery.js"></script>
    <script src="js/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/vendor/underscore/underscore.js"></script>
    <script src="js/vendor/backbone/backbone.js"></script>
    <script src="js/vendor/backbone.babysitter/lib/backbone.babysitter.js"></script>
    <script src="js/vendor/backbone.wreqr/lib/backbone.wreqr.js"></script>
    <script src="js/vendor/marionette/lib/backbone.marionette.js"></script>
    <!-- endbower --> 
    <script src="js/ChatApp.js"></script>
    <script src="js/ChatApp.Entities.js"></script>
    <script src="js/ChatApp.Views.js"></script>
    <script src="js/ChatApp.Sockets.js"></script>
    <script src="js/ChatApp.Main.js"></script>
    <script>
      $(ChatApp.start());
    </script>
  </body>
</html>
