# Heroku environmental variables.
# https://devcenter.heroku.com/articles/config-vars
.env

# npm packages
node_modules

# old js
client/src/oldjs/

# bower packages
client/src/js/vendor/
client/src/css/vendor/

#dist
client/dist/

# Mac
.DS_Store

# Emacs
*~

# thumbnails
Thumbs.db