html, body {
  height: 100%;
}

.maxheight {
  height: 100%;
}

#messaging-region {
  padding-top: 60px;
}

#messages-region .list-group {
  height: 100%;
  overflow-y: scroll;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
   height: 60px;
   background-color: #f5f5f5;
}

@media (min-width: 768px) {
  #messaging-region {
    padding-top: 15px;
    padding-left: 300px;
  }

  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar
  {
    height: 100%;
    max-width:300px;
    margin-right: 0;
    margin-left: 0;
  } 

  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
  {float:none !important;}

  .navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-collapse .navbar-nav.navbar-right:last-child {
      margin-right: 0;
  }
}