<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Marionette Socketchat</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/jasny-bootstrap.min.css">
    <link rel="stylesheet" href="dist/css/app.css">
  </head>
  <body>
    
    <div class="maxheight">
      <div id="menu-region" class="col-xs-3 maxheight"></div>
      <div id="messaging-region" class="col-xs-9 maxheight"></div>
    </div>

    <div id="dialog-region" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <script src="socket.io/socket.io.js"></script>
    <script src="dist/js/app.js"></script>
  </body>
</html>
