<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nodechat</title>
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link href="dist/css/ripples.min.css" rel="stylesheet">
    <link href="dist/css/material-wfont.min.css" rel="stylesheet">
    <link href="dist/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div id="menu-region"></div>   
    <div id="messaging-region" class="col-xs-12 maxheight"></div>
    <div id="dialog-region" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

    <script src="socket.io/socket.io.js"></script>
    <script src="dist/js/app.js"></script>
  </body>
</html>