<form>
  <div class="form-group">
    <label for="user-name" class="control-label">Username:</label>
    <input id="user-name" name="name" type="text" value="{{ name }}" class="form-control">
  </div>
  <button class="btn js-submit btn-default">Save</button>
</form>
