<form>
  <div class="form-group">
    <input id="user-nickname" name="nickname" type="text" value="{{ nickname }}" placeholder="Enter a new nickname..." class="form-control">
  </div>
  <button class="btn js-submit btn-default">Save</button>
</form>
