<form>
  <div class="form-group">
    <label for="user-nickname" class="control-label">Username:</label>
    <input id="user-nickname" name="nickname" type="text" value="{{ nickname }}" class="form-control">
  </div>
  <button class="btn js-submit btn-default">Save</button>
</form>
