<div class="panel panel-default adjustedHeight">
  <div id="messages-region" class="col-md-10 panel-body maxheight"></div>
  <div id="users-region" class="col-md-2"></div>
</div>
<input class="form-control" id="msgIn" placeholder="Type a message...">
