<div id="wrap">
  <div id="messages-region" class="col-md-10 maxheight"></div>
  <div id="users-region" class="col-md-2"></div>
</div>
<div id="footer">
  <div class="input-group">
    <div class="form-control-wrapper">
      <input class="form-control empty" type="text" id="msgIn" placeholder="Type a message...">
      <span class="material-input"></span>
    </div>
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button">Send</button>
    </span>
  </div>
</div>