<div class="adjustedHeight">
  <div id="messages-region" class="col-md-10 maxheight"></div>
  <div id="users-region" class="col-md-2"></div>
</div>
<div class="input-group">
  <input class="form-control" type="text" id="msgIn" placeholder="Type a message...">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button">Send</button>
  </span>
</div>
