<form action="api/users/avatar" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <div class="input-group">
      <input id="user-avatar" type="file" name="file" accept="image/*" >
      <img id="avatar-preview" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAA1AQMAAADbKDEzAAAABlBMVEXk5er/Dw6v/AyNAAAADklEQVQYlWNgGAVDAQAAAagAAbvCKEcAAAAASUVORK5CYII=" />
    </div>
  </div>
  <button class="btn js-submit btn-default">Upload</button>
</form>